<h1>Sign up here</h1>
<form action="/users" method="post">
  <label for="name">Name</label><input type="text" name="name"/>
  <label for="username">Usernam</label><input type="text" name="username"/>
  <label for="email">Email</label><input type="email" name="email"/>
  <label for="password">Password</label><input type="password" name="password"/>
  <label for="password_confirmation">Confirm password</label>
    <input type="password" name="password_confirmation"/>
  <label for="sign_up"></label>
    <input type="submit" name="sign_up" value="Sign up"/>
</form>
